<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Contraseña">
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crea tu cuenta</a>
            <a href="/restablecer-password">¿ Olvidaste tu contraseña ?</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>
</main>