<main class="contenedor">
    {{!--V 177--}}
    <form method="POST" class="default-form">
        <div class="campo">
            <label>Nueva Contraseña</label>
            <input type="password" name="password" placeholder="Nueva contraseña" required>
        </div>
        <div class="campo">
            <input type="submit" value="Modificar" class="btn btn-azul">
        </div>
    </form>
</main>